<div style="min-height:calc(100vh - 58px);"
  class=" d-flex m-auto col-sm-8 col-md-6 col-lg-4 justify-content-center flex-column align-items-center">
  <div class="container-fluid bg-white py-4 shadow-lg rounded" id="container-register">
    <div class="row">
      <div class="col" id="titolo">
        <h1>CREA UNA NUOVA LEZIONE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="guida">
          <form method="post" #f="ngForm"q id="CreacapitoliForm"  >
            <p>Guida</p>
            <div>
              <select [ngModel]="val" name="select1" (ngModelChange)="setGuida($event)" class="form-control">
                <option *ngFor="let guida of guide" [ngValue]="guida">{{guida.id}}-{{guida.nome}}</option>
              </select>
            </div>
            <div *ngIf="active">
              <p>Capitolo</p>
              <div *ngIf="capitoli.length > 0">
                <select [ngModel]="capitolo" name="assegnoCapitolo" *ngIf="!creaCapitolo" class="form-control"
                  (ngModelChange)="setCapitolo($event)">
                  <option *ngFor="let cap of capitoli" [ngValue]="cap">{{cap.ordineCapitolo}}-{{cap.nome}}</option>
                  <option [ngValue]="capitoloNuovo">Nuovo capitolo</option>
                </select>
              </div>
              <div *ngIf="capitoli.length === 0 || creaCapitolo">
                <!-- SOLO alla creazione della nuova guida -->
                <div>
                  <input type="text" name="cap" [ngModel]="capitolo?.nome" placeholder="crea capitolo"
                    class="form-control" required>
                </div>
                <div class="text-center">
                  <button type="button" *ngIf="!active2" (click)="salvaCapitolo(f)" (ngModelChange)="setCapitolo($event)"
                    id="submitCreaCapitolo" class="btn btn-primary btn-lg" [disabled]="f.invalid"><span
                      class="text-bold">CREA CAPITOLO</span></button>
                </div>
              </div>
            </div>
            <div *ngIf="active2" id = "formLezione">
              <p>Autore:</p>
              <div class="form-group">
                <input type="text" name="autore"   class="form-control" [ngModel]="lezione.autore">
              </div>
              <p>Titolo lezione:</p>
              <div class="form-group">
                <input type="text" name="titolo" placeholder="nome"  class="form-control" [(ngModel)]="lezione.titolo"
                  required>
              </div>
              <p>Contenuto lezione:</p>
              <div class="form-group">
                <textarea class="form-control" name="contenuto"   rows="10" required
                  [(ngModel)]="lezione.contenuto"></textarea>
              </div>
              <div class="text-center mt-3" >
                  <button type="button" (click)="salvaLezione(f)"  id="submitCreaGuidaForm" class="btn btn-primary btn-lg" [disabled]="f.invalid"><span
                      class="text-bold">CREA LEZIONE</span></button>
                </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
