.titolo-lezione{   
    text-align: center;
    
}
.linea {
    
}

.no-corpo{
   
}
h2 {
    padding-top: 15px ;
}
.boximg > span {display: none;}
.boximg > a {
display: block;
    text-align: center;
    margin: 24px auto;
}