<div *ngIf="item" class="image-flip" ontouchstart="this.classList.toggle('hover');">
  <div class="mainflip">
    <div class="frontside">
      <div class="card">
        <div class="card-body text-center">
          <p><img class=" img-fluid" [src]="item.image"
              alt="card image"></p>
          <h4 class="card-title">{{item.nome}}</h4>
          <p class="card-text">Livello: {{item.livello.descrizione}}</p>
          <span class="btn btn-primary">SCOPRI DI PI&Uacute;</span>
        </div>
      </div>
    </div>
    <div class="backside">
      <div class="card">
        <div class="card-body text-center mt-4">
          <h4 class="card-title">{{item.nome}}</h4>
          <p class="card-text">{{item.descrizione | slice:0:100}}... <br><br>
            <a [routerLink]="['/guida', item.id]" class="btn btn-primary">Vai alla guida</a>
            <!--
            <a [routerLink]="['/guida', item.id]">Vai alla guida</a><br>
            <a routerLink="/guida/{{ item.id }}">Vai alla guida</a>
            -->
          </p>
          <!-- 
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="social-icon text-xs-center" target="_blank" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-icon text-xs-center" target="_blank" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-icon text-xs-center" target="_blank" href="#">
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-icon text-xs-center" target="_blank" href="#">
                <i class="fa fa-google"></i>
              </a>
            </li>
          </ul>
        -->
        </div>
      </div>
    </div>
  </div>
</div>