<div class="container mt-4">
<div class="row">
<div class="col">


    <div *ngIf="guida">
        <h1 class="nomeGuida">{{guida.nome}}</h1>
        <p class="descrizioneGuida">{{guida.descrizione}}</p>
        <p class="text-muted"> Livello: {{guida.livello?.descrizione}}</p>
        <div class="box-capitoli">
          <h3>Capitoli</h3>
            <ngb-accordion 
            #myaccordionvar="ngbAccordion" 
            closeOthers="true" 
            type="'success'"
            (panelChange)="beforeChange($event)"
            >
              <ngb-panel *ngFor="let capitolo of guida.capitoli"  >               
                  <ng-template ngbPanelTitle >
                    <div [ngStyle]="{'display':'block','width':'100%', 'background':'red'}"> 
                      <h4>{{capitolo.nome}}</h4>
                    </div>
                  </ng-template>
                
                <ng-template ngbPanelContent >                  
                  <div *ngFor="let lezione of capitolo.lezioni">
                    <ul class="indice--capitolo">
                      <li routerLink="/guida/{{guida.id}}/capitolo/{{capitolo.id}}/lezione/{{lezione.id}}" >
                        {{lezione.titolo}}
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
        </div>
      </div>

      <span *nxtIsGranted="let tmp permesso p.AddCapitolo loggato authService.isLogged()"><button class="btn btn-success pull-right" >ADD CAPITOLO</button></span>
      <button class="btn btn-success pull-right" *nxtIsGranted="let tmp permesso p.AddLezione loggato authService.isLogged()" >ADD LEZIONE</button>



      
</div>
</div>
</div>

