<div>
  <h3>Modifica password</h3>
  <h5> ( minimo 4 caratteri )</h5>
  <form method="post" #f="ngForm" id="passwordForm" (submit)="changePwd(f.value.Password,f.value.adminpwd)">
    <div class="form-group container">
      <div class="input-group">
        <input [type]="this.pwdVisible? 'text' :'password'" class="form-control " placeholder="Password" name="Password"
          [(ngModel)]="pwd" minlength="4" required ngModel>
        <div class="input-group-append" (click)="this.hideOrView(1)">
          <div class="input-group-text">
            <i [class]="this.pwdVisible?'fa fa-eye-slash':'fa fa-eye'"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group container">
      <div class="input-group">
        <input [type]="this.pwdVisible? 'text' :'password'" class=" form-control" id="checkpwd"
          placeholder="Confirm password" name="checkpwd" [(ngModel)]="checkpwd" minlength="4" required ngModel>
        <!--  [ngClass]="{'failure':checkpwd!=pwd}" riquadro rosso-->
        <div class="input-group-append" (click)="this.hideOrView(1)">
          <div class="input-group-text">
            <i [class]="this.pwdVisible?'fa fa-eye-slash':'fa fa-eye'"></i>
          </div>
        </div>
      </div>
      <hr *ngIf="checkpwd!=''" [ngClass]="checkpwd!=pwd?'':'sux'">
    </div>
    <br>
    <div class="form-group container">
      <label for="">Password utente loggato attualmente</label>
      <div class="input-group">
        <input [type]="this.adminPwdVisible? 'text' :'password'" class="form-control " placeholder="Password utente connesso"
          name="adminpwd" [(ngModel)]="this.adminpwd" minlength="4" required ngModel>
        <div class="input-group-append" (click)="this.hideOrView(2)">
          <div class="input-group-text">
            <i [class]="this.adminPwdVisible?'fa fa-eye-slash':'fa fa-eye'"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success btn-sux btn-margin" [disabled]="!this.isValid(f)">Salva</button>
    </div>
  </form>
  <br>
  <div *ngIf="this.success=='successo'" class="alert alert-success btn " role="alert">
    Password cambiata con successo!
  </div>
  <div *ngIf="this.success=='fallito'" class="alert alert-danger btn " role="alert">
    La tua password è incorretta!
  </div>
</div>